body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5; 
    overflow-x: hidden;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    padding-bottom: 10px;

}

.section-content h1 {
    font-size: 40px; 
    color: #4f3b28; /* Cor dourada para combinar com a paleta do site */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Sombra no texto para destacar */
    font-family: 'Georgia', serif; /* Uma fonte mais formal */
    animation: fadeIn 2s; /* Animação ao carregar */
}

/* Animação */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.section-content h1:after {
    content: '';
    display: block;
    width: 80%; 
    margin: 5px auto 0; 
    height: 3px; 
    background-color: #b77d47; 
    border-radius: 2px; 
}

.first-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/imagens/batata2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 50%; 
    min-height: 40vh; 
    position: relative; 
    color: #FFFFFF; 
    text-align: center; 
}

.first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eae9e9; /* rgba(0, 0, 0, 0.5) Sobreposição escura */
    z-index: -1; /* Atrás do conteúdo */
}

header {
    background-color: transparent;
    color: #eae9e9; /*#4A4A4A*/
    height: 180px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;  
    padding: 0 10%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
}

.logo {
    height: 110px; 
    margin-top: 15px;
    margin-left: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-right: 420px;
    display: flex;
    align-items: center;
    font-size: 18px;
}


.nav-links .dropdown {
    position: relative;
    display: inline-block;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 4px; /* Bordas arredondadas */
    overflow: hidden; /* Para manter tudo dentro das bordas arredondadas */
    top: 25px;
}

.nav-links .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #b77d47; /* Cor dos itens do submenu */
    transition: background-color 0.3s;
}

.nav-links .dropdown-content a:hover {
    background-color: #a0663e; /* Cor mais escura no hover */
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; /* Torna o submenu totalmente opaco */
}



.nav-links li {
    margin: 0 30px;
    margin-right: 20px;
}

.nav-links a {
    color: #000000; /*#4A4A4A*/
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.1s; 
    border-bottom: 3px solid transparent; 

}

.nav-links a:hover, .nav-links a.active {
    color: #000000; 
    border-bottom: 3px solid #b77d47; 
}

.nav-links a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0;
}