.site-footer {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'DM Sans', sans-serif;
    padding: 5px 0;
    font-size: 16px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.footer-section p, .footer-section li {
    line-height: 1.6;
}

.about-us {
    margin-top: 25px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #333;
}

.footer-bottom {
    text-align: center;
    color: #333;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #333;
}

