@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
    overflow-x: hidden;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}




.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
    padding: 20px;
    margin: auto;
    max-width: 1400px; 
}


.product-item {
    position: relative; 
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.product-item img {
    width: 100%; 
    height: auto; 
    display: block; 
    transition: transform 0.3s ease-in-out; 
}

.product-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.product-info {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
    z-index: 2;
}

.product-info h2, .product-info a {
    color: #ffffff; 
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); 
    display: block; 
}

.product-info a {
    background-color: #b77d47; 
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none; 
    margin-top: 10px; 
}


.product-item:hover::after, .product-item:hover .product-info {
    opacity: 1; 
}

.product-item:hover img {
    transform: scale(1.1); 
}


.more-info-btn {
    background-color: #cc7c31; 
    color: #ffffff; 
    font-size: 16px;
    padding: 8px 16px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.more-info-btn:hover {
    background-color: #c16e37; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}





@media (max-width: 1024px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}



@keyframes fadeInScaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        transform: scale(1);
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/* Estilo básico para o modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1001; /* Sobe sobre outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    height: 100%; /* Ocupa toda a altura da tela */
    overflow: hidden; /* Ativa a rolagem se necessário */
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    animation: fadeInScaleUp 0.2s ease forwards;
}

/* Conteúdo do modal */
.modal-content {
    background-color: #ffffff;
    position: relative;
    margin: 13% auto; /* 10% do topo e centralizado horizontalmente */
    padding: 20px;
    border: 4px solid #deb887;;
    width: 60%; /* 60% da largura da tela */
    height: auto;
    display: flex; /* Uso de Flexbox para layout */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 5px 15px rgba(222, 184, 135, 0.4);
    flex-direction: row;
    align-items: center;}

/* Botão de fechar */
.close {
    color: #8b4513;
    position: absolute;    
    right: 20px; /* 20px do canto direito */
    top: 20px;  /* 20px do topo */
    font-size: 32px;    
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #a0522d;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

/* Imagem do produto no modal */
.modal-image {
    width: 30%; /* Metade da largura do conteúdo do modal */
    margin-right: 20px; /* Margem à direita para espaçamento */
}

.modal-text {
    flex: 1;
    text-align: left;
    max-width: 550px;
}

.modal-text h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.modal-text p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.pdf-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #007bff; /* Cor do link */
    font-weight: bold;
}

.pdf-link img {
    margin-right: 10px;
    width: 30px;
}

